//Colors
$brand-primary: #397ab1;
$gray: #dddddd;
$light-gray: #f9f9f9;
$dark-gray: #777777;

//Body
$body-background-color: #fafafa;
$body-default-color: #333333;

//Spacing
$space: 1.4rem;
$large-space: 2.8rem;
$site-max-width: 100rem;

//Font Sizes
$base-font-size: 1.6rem;
$large-font-size: 2.2rem;

//Forms
$input-border: $gray;
$input-spacing: 1rem;

//Boxed View
$boxed-view-overly-bg: $gray;
$boxed-view-bg: white;
$boxed-view-border-color: $gray;

//Button
$button-bg: $brand-primary;
$button-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-gray;
$button-secondary-color: $dark-gray;
$button-secondary-border-color: $gray;

//Item
$item-border-width: 4px;

//Header
$brand-bg: $brand-primary;
$header-color: white;
$head-heigh: 6rem;



//Page Content
$page-content-sidebar-width: 30rem;
$page-content-main-width: calc(#{$site-max-width} - #{$page-content-sidebar-width});
$page-content-heigh: calc(100vh - #{$head-heigh});
