.header {
  background-color: $brand-bg;
  color: $header-color;

}

.header__content {
  display: flex;
  height: $head-heigh;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 15rem;
  max-width: $site-max-width;
  padding: $space;
}
.header__title {
    margin: 0;
}
